@import "tailwindcss";

:root {
  --background: #0D0E0E;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: #0D0E0E;
  --color-header: #FFFFFF;
  --color-subheading: #E0E0E0;
  --color-body: #E0E0E0;  
  --color-secondary: #7E7E7E;
  --color-accent: #0051A5;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0E0E;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.borealis-text {
  background: linear-gradient(
    120deg,
    #2a5fa0,
    #f2d34f,
    #0b1a33
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-list:hover .experience-card,
.experience-list:focus .experience-card {
  opacity: 0.4;
}

.experience-list:hover .experience-card:hover
{
  opacity: 1;
}